.tput_con{
}

.tput_title{
    font-size: 0.86rem;
    color: #666666;
    margin-right: 0.2rem;
    user-select: none;
}

.tput_input{
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 0.7rem;
    border-radius: 1rem;
    direction: rtl;
    color: rgb(63, 63, 63);
    width: 100%;
}