.cpnt{
    font-size: 0.875rem !important;
}

.bdyt{
    font-size: 1rem !important;
}

.tilt{
    font-size: 1.125rem !important;
}

.hrot{
    font-size: 1.25rem !important;
}

@media(max-width:767px){

    .cpnt{
        font-size: 0.75rem !important;
    }
    
    .bdyt{
        font-size: 0.875rem !important;
    }
    
    .tilt{
        font-size: 1rem !important;
    }
    
    .hrot{
        font-size: 1.125rem !important;
    }
}